Source: golang-github-gorilla-securecookie
Section: devel
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Markus Sabadello <markus@projectdanube.org>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go
Standards-Version: 3.9.6
Homepage: https://github.com/gorilla/securecookie
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-gorilla-securecookie.git
Vcs-Git: git://anonscm.debian.org/pkg-go/packages/golang-github-gorilla-securecookie.git
XS-Go-Import-Path: github.com/gorilla/securecookie

Package: golang-github-gorilla-securecookie-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-go
Description: Package gorilla/securecookie encodes and decodes authenticated and optionally encrypted cookie values.
 securecookie encodes and decodes authenticated and optionally encrypted
 cookie values.
 .
 Secure cookies can't be forged, because their values are validated using
 HMAC.  When encrypted, the content is also inaccessible to malicious
 eyes. It is still recommended that sensitive data not be stored in
 cookies, and that HTTPS be used to prevent cookie replay attacks
 (https://en.wikipedia.org/wiki/Replay_attack).
